.wrapper-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.title {
  font-size: 30px;
  font-weight: bold;
  margin: 50px 0px;
  letter-spacing: 9.6px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
}
