$search-button-bg-color: #5b6d62;
$input-font-color: #4f4f4f;

.search-box-wrapper {
  width: 600px;
  height: 40px;
  display: flex;
  flex-direction: row;
}

input {
  font-size: 13px;
  width: 80%;
  font-weight: bold;
  color: $input-font-color;
  border-width: 1px 0 1px 1px;
  border: 1px solid #f8f8f8;
  border-radius: 12px 0 0 12px;
  padding-left: 19px;
  box-shadow: 0px 0px 8px #00000029;
}

.search-button {
  height: 100%;
  width: 20%;
  border: none;
  background-color: $search-button-bg-color;
  color: white;
  font-weight: bold;
  box-shadow: 0px 0px 8px #00000029;
}
