.app-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  min-height: 100vh;
}

@media only screen and (max-width: 400px) {
  .message-wrapper {
    font-size: 10px;
  }
  .search-box-wrapper {
    width: 70%;
  }
  .logo {
    display: none;
  }
  .header-wrapper {
    justify-content: space-around;
  }

  .menu-label {
    :not(:last-child) {
      margin-right: 10px;
    }
  }

  .swiper-slide {
    img {
      max-width: 100%;
    }
  }

  .footer-wrapper {
    width: 70vh;
  }
}
